USE [SIGH]
GO

ALTER TABLE [dbo].[ListBarGrupos] ADD IconosWeb varchar(100)

/****** Object:  StoredProcedure [dbo].[SIGESA_CajaCajaTipoComprobante]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIGESA_CajaCajaTipoComprobante]
AS
SELECT	CajaTiposComprobante.IdTipoComprobante,
		CajaTiposComprobante.Descripcion
FROM	CajaTiposComprobante
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_CajaCajaSeleccionarTodos]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIGESA_CajaCajaSeleccionarTodos]
AS

Select IdCaja, Descripcion from CajaCaja
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_LISTAR_PROVEEDORES]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIGESA_LISTAR_PROVEEDORES]
AS
select	idProveedor as 'IDPROVEEDOR',
		Ruc AS 'RUC',
		UPPER(RazonSocial) AS 'RAZONSOCIAL',
		UPPER(Direccion) AS 'DIRECCION'
from Proveedores
order by RazonSocial
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_TRAMA_DETALLE_X_CODIGO]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIGESA_TRAMA_DETALLE_X_CODIGO]
@IdComprobantePago int
as
SELECT
	IDORDEN,
	IDPRODUCTO,
	NOMBRE,
	CANTIDADPAGAR,
	VALORUNITARIO,
	VALORTOTALSINIGV,
	TOTALIMPUESTO,
	PRECIOVENTA,
	TOTALPAGAR
FROM SUNAT_DETALLE WHERE IDCOMPROBANTE=@IdComprobantePago
/* RODO
SELECT	FacturacionBienesPagos.IdOrden,		
		FacturacionBienesPagos.IdProducto,
		factCatalogoBienesInsumos.Nombre,
		FacturacionBienesPagos.CantidadPagar,
		(FacturacionBienesPagos.PrecioVenta*0.82) AS VALORUNITARIO,
		(FacturacionBienesPagos.PrecioVenta*0.82)*CAST(FacturacionBienesPagos.CantidadPagar AS INT) AS VALORTOTALSINIGV,
		(FacturacionBienesPagos.TotalPagar - ((FacturacionBienesPagos.PrecioVenta*0.82)*CAST(FacturacionBienesPagos.CantidadPagar AS INT))) AS TOTALIMPUESTO,
		FacturacionBienesPagos.PrecioVenta,
		FacturacionBienesPagos.TotalPagar

FROM	FacturacionBienesPagos
INNER	JOIN	FactCatalogoBienesInsumos ON FactCatalogoBienesInsumos.IdProducto=FacturacionBienesPagos.IdProducto
INNER	JOIN	FactOrdenesBienes ON FactOrdenesBienes.idOrden = FacturacionBienesPagos.IdOrden
WHERE FactOrdenesBienes.idComprobantePago = @IdComprobantePago
ORDER BY FacturacionBienesPagos.IdOrden
*/
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_TRAMA_CABECERA_X_CODIGO]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIGESA_TRAMA_CABECERA_X_CODIGO]
@idcomprobante int
AS
BEGIN
select * from SUNAT_CABECERA WHERE IDCOMPROBANTE=@idcomprobante
END
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_TRAMA_CABECERA_NOTA_X_CODIGO]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIGESA_TRAMA_CABECERA_NOTA_X_CODIGO]
@idcomprobante int
AS
BEGIN
select * from sunatNota_Cabecera WHERE IdComprobantePago=@idcomprobante
END
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_TRAMA_LISTA_IDCOMPROBANTES_XFECHA]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIGESA_TRAMA_LISTA_IDCOMPROBANTES_XFECHA]
@FECHAEMISION VARCHAR(8)
AS
BEGIN
	SELECT top 1 IDCOMPROBANTE FROM SUNAT_CABECERA WHERE FECHAEMISION=(SUBSTRING(@FECHAEMISION, 0, 5))+'-'+(SUBSTRING(@FECHAEMISION, 5, 2))+'-'+(SUBSTRING(@FECHAEMISION, 7, 2))
END
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_FARMACIA_ALMACENES]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SIGESA_FARMACIA_ALMACENES]
as select * from farmAlmacen WHERE idTipoLocales = 'A' order by descripcion
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_Apertura_Caja]    Script Date: 11/27/2018 13:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SIGESA_Apertura_Caja]
(
	@FechaApertura datetime,
	@EstadoLote char,
	@IdCaja int,
	@IdTurno int,
	@TotalCobrado char,
	@IdCajero int
)
as
declare @a int
insert into CajaGestion(FechaApertura,EstadoLote,IdCaja,IdTurno,TotalCobrado,IdCajero)
values(@FechaApertura,@EstadoLote,@IdCaja,@IdTurno,@TotalCobrado,@IdCajero)
set @a = scope_identity()
select @a as 'IdGestionCaja'
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_RolesItemsSeleccionarGruposPorUsuario]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIGESA_RolesItemsSeleccionarGruposPorUsuario]
(
@lIdUsuario int
)
AS

select distinct ListBarGrupos.IdListGrupo, ListBarGrupos.Clave
                 , ListBarGrupos.Texto , ListBarGrupos.Indice, ListBarGrupos.IconosWeb
             From
                 (((Empleados
                 left join UsuariosRoles on Empleados.IdEmpleado = UsuariosRoles.IdEmpleado)
                 left join RolesItems on UsuariosRoles.IdRol = RolesItems.IdRol)
                 left join ListBarItems on RolesItems.IdListItem = ListBarItems.IdListItem)
                 left join ListBarGrupos on ListBarGrupos.IdListGrupo = ListBarItems.IdListGrupo
             where Empleados.IdEmpleado = @lIdUsuario 
             order by ListBarGrupos.Indice asc
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_MEDICAMENTOS_SERVICIOS_FACTURACION_CAJA]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ec SIGESA_MEDICAMENTOS_SERVICIOS_FACTURACION_CAJA 2,'amox'

CREATE PROCEDURE [dbo].[SIGESA_MEDICAMENTOS_SERVICIOS_FACTURACION_CAJA]
(
	@TipoBusqueda INT,
	@lcFiltro varchar(MAX)
)
AS
DECLARE @SQL AS VARCHAR(MAX)

--------------------------------------DESCRIPCION SERVICIO
IF @TipoBusqueda = 0 BEGIN 
   SET  @SQL =  'select  distinct FactCatalogoServicios.IdProducto, 
            FactCatalogoServicios.Codigo, FactCatalogoServicios.Nombre, '''' tipo, '''' saldo ,  
            FactCatalogoServiciosHosp.PrecioUnitario Precio,'''' idTipoSalidaBienInsumo	,FactCatalogoServiciosHosp.PrecioUnitario PrecioUnitario ,FactCatalogoServiciosHosp.IdTipoFinanciamiento	,tf.Descripcion financiamiento,'''' idTipoSalidaBienInsumoSaldo
             From 
             (FactCatalogoServicios left join FactCatalogoServiciosHosp 
             on FactCatalogoServicios.IdProducto = FactCatalogoServiciosHosp.IdProducto) 
             left join FactPuntosCargaServicio 
             on FactCatalogoServicios.IdServicioSubGrupo = FactPuntosCargaServicio.IdServicioSubGrupo 
             INNER JOIN TiposFinanciamiento tf ON FactCatalogoServiciosHosp.IdTipoFinanciamiento = tf.IdTipoFinanciamiento
             where  FactCatalogoServicios.idEstado=1 and  FactCatalogoServiciosHosp.Activo = 1 '+@lcFiltro
EXECUTE (@SQL)
END 


 
--------------------------------------CODIGO SERVICIO
IF @TipoBusqueda = 1 BEGIN  --, FactCatalogoServiciosHosp.Activo,FactCatalogoServiciosHosp.SeUsaSinPrecio 
set @sql='select distinct FactCatalogoServicios.IdProducto, 
            FactCatalogoServicios.Codigo, FactCatalogoServicios.Nombre , '''' tipo, '''' saldo ,  
            FactCatalogoServiciosHosp.PrecioUnitario Precio ,'''' idTipoSalidaBienInsumo	,FactCatalogoServiciosHosp.PrecioUnitario PrecioUnitario	,FactCatalogoServiciosHosp.IdTipoFinanciamiento	,tf.Descripcion financiamiento,'''' idTipoSalidaBienInsumoSaldo
             From 
             (FactCatalogoServicios left join FactCatalogoServiciosHosp 
             on FactCatalogoServicios.IdProducto = FactCatalogoServiciosHosp.IdProducto) 
             left join FactPuntosCargaServicio 
             on FactCatalogoServicios.IdServicioSubGrupo = FactPuntosCargaServicio.IdServicioSubGrupo 
              INNER JOIN TiposFinanciamiento tf ON FactCatalogoServiciosHosp.IdTipoFinanciamiento = tf.IdTipoFinanciamiento
             where FactCatalogoServiciosHosp.Activo = 1  and idEstado=1 '+@lcFiltro
EXECUTE (@SQL)
END 

--------------------------------------DESCRIPCION FARMACIA
IF @TipoBusqueda = 2 BEGIN 

SET @lcFiltro=@lcFiltro+'%'
SELECT  distinct  dbo.farmSaldo.idProducto, dbo.FactCatalogoBienesInsumos.Codigo, dbo.FactCatalogoBienesInsumos.Nombre, dbo.farmTipoSalidaBienInsumo.tipo,
		                      dbo.farmSaldo.cantidad AS saldo, dbo.farmSaldo.Precio, dbo.FactCatalogoBienesInsumos.idTipoSalidaBienInsumo, 
		                      dbo.FactCatalogoBienesInsumosHosp.PrecioUnitario, tf.IdTipoFinanciamiento,tf.Descripcion financiamiento,
                                                 dbo.farmSaldo.idTipoSalidaBienInsumo as idTipoSalidaBienInsumoSaldo
		FROM         dbo.farmTipoSalidaBienInsumo RIGHT OUTER JOIN
		                      dbo.farmSaldo ON dbo.farmTipoSalidaBienInsumo.idTipoSalidaBienInsumo = dbo.farmSaldo.idTipoSalidaBienInsumo LEFT OUTER JOIN
		                      dbo.FactCatalogoBienesInsumosHosp LEFT OUTER JOIN
		                      dbo.FactCatalogoBienesInsumos ON dbo.FactCatalogoBienesInsumosHosp.IdProducto = dbo.FactCatalogoBienesInsumos.IdProducto ON 
		                      dbo.farmSaldo.idProducto = dbo.FactCatalogoBienesInsumos.IdProducto
		                      INNER JOIN TiposFinanciamiento tf ON FactCatalogoBienesInsumosHosp.IdTipoFinanciamiento = tf.IdTipoFinanciamiento
		where (dbo.FactCatalogoBienesInsumosHosp.IdTipoFinanciamiento = 1) AND Petitorio =1 AND  --dbo.farmSaldo.IdAlmacen = @IdAlmacen and   
			dbo.farmSaldo.cantidad>0 AND farmSaldo.IdAlmacen= 6  and dbo.FactCatalogoBienesInsumos.Nombre like @lcFiltro
		order by  dbo.FactCatalogoBienesInsumos.Nombre


END
--------------------------------------CODIGO FARMACIA
IF @TipoBusqueda = 3 BEGIN 
SELECT  distinct   dbo.farmSaldo.idProducto, dbo.FactCatalogoBienesInsumos.Codigo, dbo.FactCatalogoBienesInsumos.Nombre, dbo.farmTipoSalidaBienInsumo.tipo,
		           dbo.farmSaldo.cantidad AS saldo, dbo.farmSaldo.Precio, dbo.FactCatalogoBienesInsumos.idTipoSalidaBienInsumo, 
		           dbo.FactCatalogoBienesInsumosHosp.PrecioUnitario, tf.IdTipoFinanciamiento,tf.Descripcion financiamiento,
                   dbo.farmSaldo.idTipoSalidaBienInsumo as idTipoSalidaBienInsumoSaldo
		FROM         dbo.farmTipoSalidaBienInsumo RIGHT OUTER JOIN
		                      dbo.farmSaldo ON dbo.farmTipoSalidaBienInsumo.idTipoSalidaBienInsumo = dbo.farmSaldo.idTipoSalidaBienInsumo LEFT OUTER JOIN
		                      dbo.FactCatalogoBienesInsumosHosp LEFT OUTER JOIN
		                      dbo.FactCatalogoBienesInsumos ON dbo.FactCatalogoBienesInsumosHosp.IdProducto = dbo.FactCatalogoBienesInsumos.IdProducto ON 
		                      dbo.farmSaldo.idProducto = dbo.FactCatalogoBienesInsumos.IdProducto
		                      INNER JOIN TiposFinanciamiento tf ON FactCatalogoBienesInsumosHosp.IdTipoFinanciamiento = tf.IdTipoFinanciamiento
		where dbo.FactCatalogoBienesInsumosHosp.IdTipoFinanciamiento = 1 AND Petitorio =1 AND 
			  dbo.FactCatalogoBienesInsumos.Codigo=@lcFiltro  and    dbo.farmSaldo.cantidad>0  AND farmSaldo.IdAlmacen= 6 
		order by  dbo.FactCatalogoBienesInsumos.Codigo
END
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_FARMACIA_REPORTES_ALMACEN_TRASLADO]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SUGERIDO DE EXCELL DE REPORTE DE TRASLADOS ENTRE UNIDADES EJECUTORAS PROGRAMA DE ALMACEN
--FECHA|NRO DE REGISTRO|ORIGEN|DESTINO|NRO DOCUMENTO|ESTADO|SISMED|DESCRIPCION|LOTE|F.V.|R.S.
CREATE PROCEDURE [dbo].[SIGESA_FARMACIA_REPORTES_ALMACEN_TRASLADO]
(
	@fechainicio date,
	@fechafin date,
	@idAlmacen int
)
AS
IF(@idAlmacen = 0)
	BEGIN
SELECT	CONVERT(CHAR(10), m.fechaCreacion, 103) FECHA,
		m.MovNumero as 'NRO REGISTRO',
		a.descripcion ORIGEN,
		a1.descripcion DESTINO,
		m.DocumentoNumero as 'NRO DOCUMENTO', 
		em.Estado ESTADO,
		fcbi.Codigo SISMED, 
		fcbi.Nombre DESCRIPCION , 
		md.Cantidad as 'CANTIDAD',
		--md.FechaVencimiento,
		md.Lote LOTE,
		--md.RegistroSanitario,
		CONVERT(CHAR(10), md.FechaVencimiento, 103) AS 'FV', 
		md.RegistroSanitario AS 'RS' 
FROM farmMovimiento m 
INNER JOIN	farmMovimientoDetalle md		ON m.MovNumero = md.MovNumero AND m.MovTipo = md.MovTipo
LEFT JOIN	farmAlmacen a					ON m.idAlmacenOrigen = a.idAlmacen
LEFT JOIN	farmAlmacen a1					ON m.idAlmacenDestino = a1.idAlmacen
LEFT JOIN	FactCatalogoBienesInsumos fcbi	ON md.idProducto = fcbi.IdProducto
LEFT JOIN	farmEstadosMovimientos em		ON m.idEstadoMovimiento = em.idEstadoMovimiento
 WHERE 1=1 
AND m.fechaCreacion BETWEEN @fechainicio and @fechafin
AND m.idAlmacenDestino not IN (0)
END
ELSE
BEGIN
SELECT	CONVERT(CHAR(10), m.fechaCreacion, 103) FECHA,
		m.MovNumero as 'NRO REGISTRO',
		a.descripcion ORIGEN,
		a1.descripcion DESTINO,
		m.DocumentoNumero as 'NRO DOCUMENTO', 
		em.Estado ESTADO,
		fcbi.Codigo SISMED, 
		fcbi.Nombre DESCRIPCION , 
		md.Cantidad as 'CANTIDAD',
		--md.FechaVencimiento,
		md.Lote LOTE,
		--md.RegistroSanitario,
		CONVERT(CHAR(10), md.FechaVencimiento, 103) AS 'FV', 
		md.RegistroSanitario AS 'RS' 
FROM farmMovimiento m 
INNER JOIN	farmMovimientoDetalle md		ON m.MovNumero = md.MovNumero AND m.MovTipo = md.MovTipo
LEFT JOIN	farmAlmacen a					ON m.idAlmacenOrigen = a.idAlmacen
LEFT JOIN	farmAlmacen a1					ON m.idAlmacenDestino = a1.idAlmacen
LEFT JOIN	FactCatalogoBienesInsumos fcbi	ON md.idProducto = fcbi.IdProducto
LEFT JOIN	farmEstadosMovimientos em		ON m.idEstadoMovimiento = em.idEstadoMovimiento
 WHERE 1=1 
AND m.fechaCreacion BETWEEN @fechainicio and @fechafin
 AND (m.idAlmacenDestino = @idAlmacen OR m.idAlmacenOrigen = @idAlmacen)
END
 
-- SIGESA_FARMACIA_REPORTES_ALMACEN_TRASLADO '2018-07-01','2018-07-31',2
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_FARMACIA_INGRESOS_ALMACEN]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIGESA_FARMACIA_INGRESOS_ALMACEN]
(
	@fechainicio date,
	@fechafin date,
	@idProveedor int
)
AS
IF(@idProveedor = 0)
	BEGIN
		SELECT	CONVERT(CHAR(10), m.fechaCreacion, 103) AS FECHA,
				mni.OrigenNumero [ORDEN DE COMPRA],
				p.RazonSocial [LABORATORIO], 
				'' [NRO DE ENTREGA],
				tp.descripcion LICITACION, 
				fcbi.Codigo [CODIGO SISMED],
				fcbi.Nombre [DESCRIPCIÓN DE PRODUCTO],
				md.Cantidad [CANTIDAD],
				m.Observaciones [OBSERVACIONES]
		FROM	farmMovimiento m 
		LEFT JOIN	farmMovimientoNotaIngreso mni	ON m.MovNumero = mni.MovNumero AND m.MovTipo = mni.MovTipo
		INNER JOIN	farmMovimientoDetalle md		ON m.MovNumero = md.MovNumero AND m.MovTipo = md.MovTipo
		LEFT JOIN	farmAlmacen a					ON m.idAlmacenOrigen = a.idAlmacen
		LEFT JOIN	farmAlmacen a1					ON m.idAlmacenDestino = a1.idAlmacen
		LEFT JOIN	Proveedores p					ON mni.idProveedor = p.idProveedor
		LEFT JOIN	farmTipoProceso tp				ON mni.idTipoProceso = tp.idTipoProceso
		LEFT JOIN	FactCatalogoBienesInsumos fcbi	ON md.idProducto = fcbi.IdProducto
		LEFT JOIN	farmEstadosMovimientos em		ON m.idEstadoMovimiento = em.idEstadoMovimiento

		 WHERE 1=1 AND m.idAlmacenDestino not IN (0) AND m.MovTipo = 'e'
		 AND m.fechaCreacion BETWEEN @fechainicio and @fechafin
	END
ELSE
BEGIN
	SELECT	CONVERT(CHAR(10), m.fechaCreacion, 103) AS FECHA,
			mni.OrigenNumero [ORDEN DE COMPRA],
			p.RazonSocial [LABORATORIO], 
			'' [NRO DE ENTREGA],
			tp.descripcion LICITACION, 
			fcbi.Codigo [CODIGO SISMED],
			fcbi.Nombre [DESCRIPCIÓN DE PRODUCTO],
			md.Cantidad [CANTIDAD],
			m.Observaciones [OBSERVACIONES]
	FROM	farmMovimiento m 
	LEFT JOIN	farmMovimientoNotaIngreso mni	ON m.MovNumero = mni.MovNumero AND m.MovTipo = mni.MovTipo
	INNER JOIN	farmMovimientoDetalle md		ON m.MovNumero = md.MovNumero AND m.MovTipo = md.MovTipo
	LEFT JOIN	farmAlmacen a					ON m.idAlmacenOrigen = a.idAlmacen
	LEFT JOIN	farmAlmacen a1					ON m.idAlmacenDestino = a1.idAlmacen
	LEFT JOIN	Proveedores p					ON mni.idProveedor = p.idProveedor
	LEFT JOIN	farmTipoProceso tp				ON mni.idTipoProceso = tp.idTipoProceso
	LEFT JOIN	FactCatalogoBienesInsumos fcbi	ON md.idProducto = fcbi.IdProducto
	LEFT JOIN	farmEstadosMovimientos em		ON m.idEstadoMovimiento = em.idEstadoMovimiento

	 WHERE 1=1 AND m.idAlmacenDestino not IN (0) AND m.MovTipo = 'e'
	 AND p.idProveedor = @idProveedor
	 AND m.fechaCreacion BETWEEN @fechainicio and @fechafin
END
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_Tipo_Seguro_x_DNI]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIGESA_Tipo_Seguro_x_DNI]
(
	@dni VARCHAR(12) 
)
as

SELECT DISTINCT 
dbo.FacturacionCuentasAtencion.IdCuentaAtencion, dbo.EstadosCuenta.Descripcion AS EstadoCuenta, dbo.Atenciones.IdPaciente,
dbo.Atenciones.IdAtencion, CONVERT(char(10), dbo.Atenciones.FechaIngreso, 103) AS FechaIngreso, dbo.Atenciones.HoraIngreso,
dbo.Pacientes.NroHistoriaClinica, dbo.Pacientes.ApellidoPaterno, dbo.Pacientes.ApellidoMaterno, dbo.Pacientes.PrimerNombre,
dbo.Pacientes.SegundoNombre, CONVERT(char(10), dbo.Atenciones.FechaEgreso, 103) AS FechaEgreso, dbo.Atenciones.HoraEgreso,
dbo.FacturacionCuentasAtencion.IdEstado, dbo.Servicios.Nombre AS ServicioIngreso, dbo.TiposServicio.Descripcion AS dTipoServicio, dbo.Atenciones.Edad AS Edad, dbo.Pacientes.IdTipoNumeracion,
dbo.Atenciones.IdTipoServicio,Atenciones.idFuenteFinanciamiento,ff.Descripcion Financiamiento, dbo.Atenciones.IdServicioIngreso
FROM dbo.Atenciones 
LEFT OUTER JOIN dbo.Servicios ON dbo.Atenciones.IdServicioIngreso = dbo.Servicios.IdServicio 
LEFT OUTER JOIN dbo.Pacientes ON dbo.Atenciones.IdPaciente = dbo.Pacientes.IdPaciente 
LEFT OUTER JOIN dbo.FacturacionCuentasAtencion ON dbo.Atenciones.IdCuentaAtencion = dbo.FacturacionCuentasAtencion.IdCuentaAtencion 
LEFT OUTER JOIN dbo.EstadosCuenta ON dbo.EstadosCuenta.IdEstado = dbo.FacturacionCuentasAtencion.IdEstado 
LEFT OUTER JOIN dbo.TiposServicio ON dbo.TiposServicio.IdTipoServicio = dbo.Atenciones.IdTipoServicio 
LEFT OUTER JOIN FuentesFinanciamiento ff ON Atenciones.idFuenteFinanciamiento = ff.IdFuenteFinanciamiento
where   idEstadoAtencion=1  and  Pacientes.NroDocumento = @dni
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_TRAMA_ICI_FORMATLM]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIGESA_TRAMA_ICI_FORMATLM]
@fechainicio datetime,
@fechafin datetime
as
SELECT distinct
	(select '0'+ValorTexto from Parametros where IdParametro=239) AS [Codigo_eje],
	(select ValorTexto+'F01' from Parametros where IdParametro=208) AS [Codigo_pre], --SOLO PARA TODAS LAS FARMACIAS
	CASE 
		WHEN MONTH(@fechainicio)<10 THEN CAST(YEAR(@fechainicio) as varchar)+'0'+CAST(MONTH(@fechainicio) as varchar)
		ELSE CAST(YEAR(@fechainicio) as varchar)+CAST(MONTH(@fechainicio) as varchar)--+CAST(DATEPART(month, @fechafin) as varchar) as [Annomes],
	END as [Annomes],
	'S' AS [Tipsum], --TODAS LAS FARMACIAS SIEMPRES S // S=SIN DONACIONES D=DONACIONES
	FCBI.Codigo,
	FCBI.IdProducto,
	(SELECT top 1 convert(varchar(10),dbo.farmSaldoDetallado.FechaVencimiento,101)
		FROM         dbo.farmSaldoDetallado LEFT OUTER JOIN
		             dbo.farmTipoSalidaBienInsumo ON 
		             dbo.farmSaldoDetallado.idTipoSalidaBienInsumo = dbo.farmTipoSalidaBienInsumo.idTipoSalidaBienInsumo LEFT OUTER JOIN
						dbo.FactCatalogoBienesInsumos ON dbo.farmSaldoDetallado.idProducto = dbo.FactCatalogoBienesInsumos.IdProducto
		where dbo.farmSaldoDetallado.IdAlmacen in (102,114,8,3,6,5,4,111) and dbo.FactCatalogoBienesInsumos.Codigo=FCBI.Codigo and dbo.farmSaldoDetallado.Cantidad>0
		order by  dbo.farmSaldoDetallado.FechaVencimiento) as fec_venc,
		(SELECT top 1 dbo.farmSaldoDetallado.Lote
		FROM         dbo.farmSaldoDetallado LEFT OUTER JOIN
		             dbo.farmTipoSalidaBienInsumo ON 
		             dbo.farmSaldoDetallado.idTipoSalidaBienInsumo = dbo.farmTipoSalidaBienInsumo.idTipoSalidaBienInsumo LEFT OUTER JOIN
						dbo.FactCatalogoBienesInsumos ON dbo.farmSaldoDetallado.idProducto = dbo.FactCatalogoBienesInsumos.IdProducto
		where dbo.farmSaldoDetallado.IdAlmacen in (102,114,8,3,6,5,4,111) and dbo.FactCatalogoBienesInsumos.Codigo=FCBI.Codigo and dbo.farmSaldoDetallado.Cantidad>0
		order by  dbo.farmSaldoDetallado.FechaVencimiento) as Lote,
		'1' AS Sit
FROM         dbo.farmMovimientoDetalle
	LEFT OUTER JOIN dbo.farmMovimiento ON dbo.farmMovimientoDetalle.MovNumero = dbo.farmMovimiento.MovNumero AND dbo.farmMovimientoDetalle.MovTipo = dbo.farmMovimiento.MovTipo 
	LEFT OUTER JOIN dbo.FactCatalogoBienesInsumos FCBI ON dbo.farmMovimientoDetalle.idProducto = FCBI.IdProducto
	WHERE     (dbo.farmMovimiento.idEstadoMovimiento = 1)     and (dbo.farmMovimiento.fechaCreacion Between  @fechainicio and @fechafin)
	ORDER BY FCBI.IdProducto, FCBI.Codigo
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_TRAMA_ICI_FORMDET]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIGESA_TRAMA_ICI_FORMDET]
@fechainicio datetime,
@fechafin datetime
as
SELECT * FROM(	
	SELECT 
	(select '0'+ValorTexto from Parametros where IdParametro=239) AS [Codigo_eje],
	(select ValorTexto+'F01' from Parametros where IdParametro=208) AS [Codigo_pre], --SOLO PARA TODAS LAS FARMACIAS
	'S' AS [Tipsum],
	CASE 
		WHEN MONTH(@fechainicio)<10 THEN CAST(YEAR(@fechainicio) as varchar)+'0'+CAST(MONTH(@fechainicio) as varchar)
		ELSE CAST(YEAR(@fechainicio) as varchar)+CAST(MONTH(@fechainicio) as varchar)--+CAST(DATEPART(month, '2018-06-30 23:59:59') as varchar) as [Annomes],
	END as [Annomes],
	 
	FCBI.Codigo AS codigo_med,
	'0'		as 'saldo',
	--FCBI.Nombre,--
	--FCBI.IdProducto,
	(SELECT TOP 1 Precio FROM farmMovimientoDetalle WHERE MovTipo='E' AND idProducto=FCBI.IdProducto order by MovNumero desc) AS precio, 
	FMD.Cantidad,
	CASE FMD.MovTipo
	WHEN 'E'
		THEN(
			CASE FM.idTipoConcepto	
		    WHEN '1' THEN 'ingre'
			WHEN '4' THEN 'ingre'--'DISTRIBUCION' 
			WHEN '7' THEN 'ingre'
			WHEN '9' THEN 'ingre' -- transferencia otras unidades ejecutoras
			WHEN '30' THEN 'ingre'
			WHEN '28' THEN 'ingre'
			ELSE 'reingre'
			/*WHEN '1' THEN 'ENTRADA COMPRA'
			WHEN '21' THEN 'ENTRADA DEVOLUCION'
			WHEN '4' THEN 'ENTRADA DISTRIBUCION'
			WHEN '7' THEN 'ENTRADA DEVOL. SOBRESTOCK'
			WHEN '5' THEN 'ENTRADA CANJE POR VENCIMIENTO'
			WHEN '27' THEN 'ENTRADA DONACION A PACIENTES'
			WHEN '30' THEN 'ENTRADA PRESTAMOS'
			WHEN '34' THEN 'ENTRADA CANJE DE LABORATORIO'
			WHEN '35' THEN 'ENTRADA CARGO GUIA'*/
		END		
		)
	WHEN 'S'
		THEN(
			CASE FM.idTipoConcepto	
			WHEN '10' THEN 'ventas'
			--WHEN '32' THEN 'ventas'
			WHEN '13' THEN 'sis'
			WHEN '16' THEN 'intersan'
			WHEN '15' THEN 'exo'
			WHEN '14' THEN 'soat'
			WHEN '17' THEN 'credhosp'
			WHEN '23' THEN 'otr_conv'
			WHEN '22' THEN 'DEF. NAC'
			WHEN '7' THEN 'devol'
			WHEN '21' THEN 'devol'
			WHEN '28' THEN 'devol'
			WHEN '31' THEN 'devol'
			WHEN '6' THEN 'merma'
			WHEN '5' THEN 'vencido'
			WHEN '9' THEN 'transf'
			ELSE 'otros_sal'
		END		
		)END AS TIPO,
		(SELECT top 1 convert(varchar(10), dbo.farmSaldoDetallado.FechaVencimiento,101)
		FROM         dbo.farmSaldoDetallado LEFT OUTER JOIN
		             dbo.farmTipoSalidaBienInsumo ON 
		             dbo.farmSaldoDetallado.idTipoSalidaBienInsumo = dbo.farmTipoSalidaBienInsumo.idTipoSalidaBienInsumo LEFT OUTER JOIN
						dbo.FactCatalogoBienesInsumos ON dbo.farmSaldoDetallado.idProducto = dbo.FactCatalogoBienesInsumos.IdProducto
		where dbo.farmSaldoDetallado.IdAlmacen in (102,114,8,3,6,5,4,111) and dbo.FactCatalogoBienesInsumos.Codigo=FCBI.Codigo and dbo.farmSaldoDetallado.Cantidad>0
		order by  dbo.farmSaldoDetallado.FechaVencimiento) as fec_exp
	FROM farmMovimientoDetalle FMD
	INNER JOIN FarmMovimiento FM ON FM.MovNumero=FMD.MovNumero AND FM.MovTipo=FMD.MovTipo
	FULL JOIN FactCatalogoBienesInsumos FCBI ON FCBI.IdProducto=FMD.idProducto 
	WHERE 
	FM.idEstadoMovimiento=1 and 
	FM.fechaCreacion BETWEEN (@fechainicio) AND (@fechafin) and
	FM.idAlmacenDestino not in ('112','116','115','107','9','109','108','113')
)SRC
PIVOT (
	 SUM(Cantidad) for TIPO in  ([ingre],[reingre],[ventas],[sis],[intersan],[fac_perd],[defnac],[exo],[soat],[credhosp],[otro_conv],[devol],[vencido],[merma],[distri],[transf],[ventainst],[dev_ven],[dev_merma],[otros_sal])
)q
ORDER BY codigo_med
--SELECT * FROM farmTipoConceptos
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_TRAMA_ICI_FORMATO]    Script Date: 11/27/2018 13:30:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIGESA_TRAMA_ICI_FORMATO]
@fechainicio datetime,
@fechafin datetime
as
select * from(
SELECT
	(select '0'+ValorTexto from Parametros where IdParametro=239) AS [Codigo_eje],
	(select ValorTexto+'F01' from Parametros where IdParametro=208) AS [Codigo_pre], --SOLO PARA TODAS LAS FARMACIAS
	CASE 
		WHEN MONTH(@fechainicio)<10 THEN CAST(YEAR(@fechainicio) as varchar)+'0'+CAST(MONTH(@fechainicio) as varchar)
		ELSE CAST(YEAR(@fechainicio) as varchar)+CAST(MONTH(@fechainicio) as varchar)--+CAST(DATEPART(month, @fechafin) as varchar) as [Annomes],
	END as [Annomes],
	'S' AS [Tipsum], --TODAS LAS FARMACIAS SIEMPRES S // S=SIN DONACIONES D=DONACIONES
	'F' AS [Tipo_pre], --CONSTANTE
	CASE 
	WHEN idTipoFinanciamiento=1 and idFuenteFinanciamiento!=5 THEN 'Rec_vtas'
	WHEN idTipoFinanciamiento=1 and idFuenteFinanciamiento=5 THEN 'Rec_crehos'
	WHEN idTipoFinanciamiento=2 THEN 'Rec_sis'
	WHEN idTipoFinanciamiento=3 THEN 'Rec_soat'
	WHEN idTipoFinanciamiento=9 THEN 'Rec_exo'
	ELSE 'Rec_otrcon'
	END AS [TIPO],
	(SELECT       
		COUNT(*)
		From farmMovimiento
		WHERE  (MovTipo = 'S') AND (idTipoConcepto = 16) and 
		(idEstadoMovimiento=1) and 
		(fechaCreacion Between @fechainicio and @fechafin))
	AS[Rec_ints],
	'A' AS [Indiproc],
	CONVERT(char,SYSDATETIME(),103) AS [Fecha],
	'  :  :  ' as [Fechault],
	'V2.0 04102011' as [Vers],
	'1' as [Sit],
	CONVERT(char,@fechainicio,103) as [Fdesde],
	CONVERT(char,@fechafin,103) as [Fhasta],
	'P' as [Ctrlcal],
	CONVERT(char,SYSDATETIME(),103) as [Catalogo],
	(select '000'+ValorTexto from Parametros where IdParametro=208) as [Codpto],
	'E' as [Tip_ins]

	FROM dbo.farmMovimiento 
	INNER JOIN dbo.farmMovimientoVentas 
	ON dbo.farmMovimiento.MovNumero = dbo.farmMovimientoVentas.movNumero AND
	dbo.farmMovimiento.MovTipo = dbo.farmMovimientoVentas.MovTipo
	WHERE dbo.farmMovimiento.idEstadoMovimiento=1 and
	(dbo.farmMovimiento.fechaCreacion Between @fechainicio
	and @fechafin)
)src
PIVOT(
	COUNT([TIPO]) FOR [TIPO] IN ([Rec_vtas],[Rec_sis],[Rec_dn],[Rec_exo],[Rec_soat],[Rec_crehos],[Rec_otrcon])
)q
GO
/****** Object:  StoredProcedure [dbo].[SIGESA_CAJA_DATOS_X_CODIGO_PARA_FACTURACION]    Script Date: 11/27/2018 13:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIGESA_CAJA_DATOS_X_CODIGO_PARA_FACTURACION]
(
	@Serie nvarchar(4),
	@NroComprobante nvarchar(8),
	@nroOrden INT
)

/*SET @Serie = 'BF01'
SET @NroComprobante = '02540906'*/
AS
DECLARE @finicial date
DECLARE @ffinal date

SET @finicial = '20181001'
SET @ffinal = '20181231'
SELECT DISTINCT
ccp.NroSerie+'-'+ccp.NroDocumento Comprobante,fop.idOrden, ccp.IdCuentaAtencion  cuenta,Ruc, ccp.RazonSocial,ccp.SubTotal, ccp.IGV, ccp.Total, ccp.FechaCobranza,ccp.IdEstadoComprobante idEstado, cec.Descripcion estado
,fpp.Codigo CodigoPresupuestal, fpp.Descripcion Nombre,fcs.Codigo ,fcs.Nombre Producto ,fsp.Cantidad,fsp.Precio,fsp.Total as TotalUnitario--   , * 
FROM 
dbo.FacturacionServicioDespacho fsd
INNER JOIN  FactOrdenServicio fos ON fsd.idOrden = fos.IdOrden
LEFT JOIN CajaComprobantesPago ccp ON fos.IdCuentaAtencion = ccp.IdCuentaAtencion
FULL OUTER JOIN FactOrdenServicioPagos fop ON ccp.IdComprobantePago = fop.idComprobantePago
FULL OUTER JOIN FacturacionServicioPagos fsp ON fop.idOrdenPago = fsp.idOrdenPago 
INNER JOIN FactCatalogoServicios fcs ON fsp.idProducto = fcs.IdProducto
INNER JOIN FactPartidasPresupuestales fpp ON fcs.IdPartida = fpp.IdPartidaPresupuestal
LEFT  JOIN Pacientes p ON ccp.IdPaciente = p.IdPaciente
left join CajaEstadosComprobante cec ON ccp.IdEstadoComprobante = cec.IdEstadoComprobante
WHERE ccp.idFarmacia is NULL 
AND convert(DATE,ccp.FechaCobranza,103) BETWEEN @finicial and @ffinal 
AND ccp.NroSerie+'-'+ccp.NroDocumento = ISNULL(@Serie+'-'+@NroComprobante,ccp.NroSerie+'-'+ccp.NroDocumento)
AND fop.idOrden = isnull(@nroOrden , fop.idOrden)

union all

SELECT ccp.NroSerie+'-'+ccp.NroDocumento COLLATE database_default  Comprobante,fob.idOrden idOrden,ccp.IdCuentaAtencion  cuenta,Ruc
,ccp.RazonSocial
,ROUND(ccp.SubTotal*(SELECT 1-CONVERT(DECIMAL,ValorTexto)/100 FROM Parametros WHERE idparametro = 221),2) SubTotal
,ROUND(ccp.SubTotal*(SELECT CONVERT(DECIMAL,ValorTexto)/100 FROM Parametros WHERE idparametro = 221),2) IGV
,ccp.Total, ccp.FechaCobranza,ccp.IdEstadoComprobante idEstado, cec.Descripcion estado
,fpp.Codigo CodigoPresupuestal, fpp.Descripcion Nombre,fcbi.codigo ,fcbi.Nombre COLLATE database_default Producto,fbp.CantidadPagar Cantidad,fbp.PrecioVenta Precio,fbp.TotalPagar as TotalUnitario--  , * 
FROM CajaComprobantesPago ccp 
FULL OUTER JOIN FactOrdenesBienes fob ON ccp.IdComprobantePago = fob.idComprobantePago
full OUTER JOIN FacturacionBienesPagos fbp ON fob.idOrden = fbp.IdOrden
FULL OUTER JOIN FactCatalogoBienesInsumos fcbi ON fbp.IdProducto = fcbi.IdProducto
INNER JOIN FactPartidasPresupuestales fpp ON fcbi.IdPartida = fpp.IdPartidaPresupuestal
LEFT  JOIN Pacientes p ON ccp.IdPaciente = p.IdPaciente
left join CajaEstadosComprobante cec ON ccp.IdEstadoComprobante = cec.IdEstadoComprobante
WHERE ccp.idFarmacia is NOT NULL 
AND convert(DATE,ccp.FechaCobranza,103) BETWEEN @finicial and @ffinal 
AND ccp.NroSerie+'-'+ccp.NroDocumento = ISNULL(@Serie+'-'+@NroComprobante,ccp.NroSerie+'-'+ccp.NroDocumento)
AND fob.idOrden = isnull(@nroOrden , fob.idOrden)
 UNION all
 
SELECT
	m.DocumentoNumero Comprobante
	,'' idorden
	,fmv.idCuentaAtencion cuenta
	,NULL ruc
	,p.ApellidoPaterno +' '+ p.ApellidoMaterno+' '+p.PrimerNombre COLLATE database_default  RazonSocial
	,ROUND(m.Total*(SELECT 1-CONVERT(DECIMAL,ValorTexto)/100 FROM Parametros WHERE idparametro = 221),2) SubTotal	
	,ROUND(m.Total*(SELECT CONVERT(DECIMAL,ValorTexto)/100 FROM Parametros WHERE idparametro = 221),2) IGV	
	,m.Total Total
	,m.FechaCreacion FechaCobranza
	,m.idEstadoMovimiento idestado
	,farmEstadosMovimientos.Estado as estado
	,fpp.Codigo CodigoPresupuestal
	,fpp.Descripcion COLLATE database_default   Nombre
	,fcbi.Codigo
	,fcbi.Nombre COLLATE database_default  Producto 
	,fmvd.cantidad
	,fmvd.Precio
	,fmvd.Total as TotalUnitario
FROM dbo.TiposFinanciamiento
RIGHT OUTER JOIN dbo.Atenciones	a						ON dbo.TiposFinanciamiento.idTipoFinanciamiento = a.idFormaPago
RIGHT OUTER JOIN dbo.farmMovimiento m
INNER JOIN dbo.farmMovimientoVentas fmv					ON m.MovNumero = fmv.MovNumero	AND m.MovTipo = fmv.MovTipo	
														ON a.IdCuentaAtencion = fmv.IdCuentaAtencion														
LEFT OUTER JOIN dbo.farmEstadosMovimientos				ON m.idEstadoMovimiento = dbo.farmEstadosMovimientos.idEstadoMovimiento
LEFT OUTER JOIN dbo.farmAlmacen	fa						ON m.idAlmacenOrigen = fa.idAlmacen
LEFT OUTER JOIN dbo.Empleados e							ON m.IdUsuario = e.IdEmpleado
RIGHT OUTER JOIN dbo.farmMovimientoVentasDetalle fmvd 	ON fmv.MovNumero = fmvd.MovNumero	AND fmv.MovTipo = fmvd.MovTipo
LEFT OUTER JOIN dbo.FactCatalogoBienesInsumos fcbi		ON fmvd.idProducto = fcbi.idProducto
LEFT JOIN Pacientes p ON a.IdPaciente = p.IdPaciente
LEFT JOIN FactPartidasPresupuestales fpp ON fcbi.IdPartida = fpp.IdPartidaPresupuestal
WHERE     
m.idEstadoMovimiento = 1
AND convert(DATE,m.fechaCreacion,103) BETWEEN @finicial and @ffinal 
AND m.DocumentoNumero = ISNULL(@Serie+'-'+@NroComprobante,DocumentoNumero)
--AND fob.idOrden = isnull(@nroOrden , fob.idOrden)

UNION ALL


SELECT DISTINCT  '' comprobante, fos.IdOrden,fos.IdCuentaAtencion cuenta,
''ruc
,(p.ApellidoPaterno +' '+ p.ApellidoMaterno+' '+p.PrimerNombre) COLLATE database_default  RazonSocial
 ,ISNULL(fsd.Total,fsd.Total) subtotalcab,0 igv, ISNULL(fsd.Total,fsd.Total) totalcab
 , fos.FechaCreacion,fos.IdEstadoFacturacion idestado,ef.Descripcion Estado,fpp.Codigo,fpp.Descripcion nombre,fcs.Codigo,fcs.Nombre
 ,isnull(fsd.Cantidad,fsd.Cantidad) Cantidad,ISNULL(fsd.Precio,fsd.Precio)Precio , ISNULL(fsd.Total,fsd.Total) as TotalUnitario
FROM dbo.FacturacionServicioDespacho fsd
INNER JOIN dbo.FactOrdenServicio fos		ON fsd.idOrden = fos.idOrden
INNER JOIN dbo.FactCatalogoServicios fcs	ON fsd.IdProducto = fcs.IdProducto
inner JOIN FactPartidasPresupuestales fpp ON fcs.IdPartida = fpp.IdPartidaPresupuestal 
LEFT JOIN EstadosFacturacion ef ON fos.IdEstadoFacturacion = ef.IdEstadoFacturacion
LEFT JOIN Pacientes p ON fos.IdPaciente = p.IdPaciente
WHERE --fos.idFuenteFinanciamiento!=1 AND 
convert(DATE,fos.FechaCreacion,103) BETWEEN @finicial and @ffinal 
--AND m.DocumentoNumero = ISNULL(@Serie+'-'+@NroComprobante,DocumentoNumero)
AND fos.idOrden = isnull(@nroOrden , fos.idOrden)
GO